#main-popup {
  width: 400px;
}
#header {
  height: 30px;
  border-bottom: 1px #ccc solid;
  line-height: 30px;
  padding: 0 10px;
}
#header .setting {
  text-align: right;
}
#footer {
  height: 30px;
  border-top: 1px #ccc solid;
  line-height: 30px;
}
#content {
  padding: 10px;
}

.btn-success {
  background: rgb(28, 184, 65);
  color: white;
}

.btn-sm {
  font-size: 85%;
}

.pure-form-stacked select {
  margin: .8em 0;
}
