#main-popup {
  width: 400px;
}
#header {
  height: 30px;
  border-bottom: 1px #ccc solid;
  line-height: 30px;
}
#footer {
  height: 30px;
  border-top: 1px #ccc solid;
  line-height: 30px;
}
#content {
  padding: 12px 0 12px 0;
}
